-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ozezbd
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER calcular_total_detalle_orden
BEFORE INSERT ON detalle_ordenes
FOR EACH ROW
BEGIN
    -- Calcular el subtotal antes de insertar
    SET NEW.total = NEW.cantidad * (
        SELECT costo_precio_venta
        FROM ediciones_productos
        WHERE id = NEW.ediciones_productos_id
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER validar_cantidad_disponible
BEFORE INSERT ON detalle_ordenes
FOR EACH ROW
BEGIN
    DECLARE cantidad_disponible INT;

    -- Obtener la cantidad disponible del producto en ediciones_productos
    SELECT cantidad
    INTO cantidad_disponible
    FROM ediciones_productos
    WHERE id = NEW.ediciones_productos_id;

    -- Validar que la cantidad solicitada no exceda la cantidad disponible
    IF NEW.cantidad > cantidad_disponible THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'La cantidad solicitada excede la cantidad disponible en el inventario.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER actualizar_total_orden
AFTER INSERT ON detalle_ordenes
FOR EACH ROW
BEGIN
    -- Actualizar el total de la orden sumando todos los subtotales
    UPDATE ordenes
    SET total = (
        SELECT SUM(total)
        FROM detalle_ordenes
        WHERE ordenes_id = NEW.ordenes_id
    )
    WHERE id = NEW.ordenes_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER actualizar_valores_diseno
AFTER INSERT ON disenos_estampados
FOR EACH ROW
BEGIN
    DECLARE suma_costo DECIMAL(10,2);
    DECLARE total_cantidad INT;

    -- Calcular la suma de costos relacionados con el dise├▒o
    SELECT SUM(estampados.costo)
    INTO suma_costo
    FROM estampados
    INNER JOIN disenos_estampados ON estampados.id = disenos_estampados.estampado_id
    WHERE disenos_estampados.diseno_id = NEW.diseno_id;

    -- Contar la cantidad total de estampados asociados al dise├▒o
    SELECT COUNT(*)
    INTO total_cantidad
    FROM disenos_estampados
    WHERE disenos_estampados.diseno_id = NEW.diseno_id;

    -- Actualizar los valores en la tabla `disenos`
    UPDATE disenos
    SET costo = suma_costo,
        cantidad = total_cantidad
    WHERE id = NEW.diseno_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER asignar_talla_a_edicion_producto
BEFORE INSERT ON ediciones_productos
FOR EACH ROW
BEGIN
    -- Obtener la talla del producto y asignarla autom├íticamente
    SET NEW.talla = (
        SELECT talla
        FROM productos
        WHERE id = NEW.productos_id
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER calcular_costo_fabrica
BEFORE INSERT ON ediciones_productos
FOR EACH ROW
BEGIN
    DECLARE costo_producto DECIMAL(10,2) DEFAULT 0;
    DECLARE costo_total_estampados DECIMAL(10,2) DEFAULT 0;
    DECLARE costo_extra DECIMAL(10,2) DEFAULT 0;

    -- Obtener el costo del producto base
    SELECT costo INTO costo_producto
    FROM productos
    WHERE id = NEW.productos_id;

    -- Calcular el costo total de los estampados asociados a la edici├│n
    SELECT COALESCE(SUM(estampados.costo), 0) INTO costo_total_estampados
    FROM ediciones_estampados
    JOIN estampados ON ediciones_estampados.estampados_id = estampados.id
    WHERE ediciones_estampados.edicion_id = NEW.edicion_id;

    -- Obtener el costo extra de la edici├│n
    SELECT extra INTO costo_extra
    FROM edicion
    WHERE id = NEW.edicion_id;

    -- Calcular el costo de f├íbrica
    SET NEW.costo_fabrica = costo_producto + costo_total_estampados;

    -- Calcular el precio de venta
    SET NEW.costo_precio_venta = (NEW.costo_fabrica  * 1.5) + costo_extra;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER calcular_precio_rebajado_insert
BEFORE INSERT ON ediciones_productos
FOR EACH ROW
BEGIN
    -- Si la rebaja est├í activa y hay un porcentaje v├ílido
    IF NEW.rebaja = 1 AND NEW.porcentaje_rebaja > 0 THEN
        SET NEW.precio_rebajado = NEW.costo_precio_venta - (NEW.costo_precio_venta * NEW.porcentaje_rebaja / 100);
    ELSE
        -- Si no hay rebaja, aseguramos que precio_rebajado sea NULL
        SET NEW.precio_rebajado = 0.00;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER descontar_stock_productos
AFTER INSERT ON ediciones_productos
FOR EACH ROW
BEGIN
   
    UPDATE productos
    SET lote = lote - NEW.cantidad
    WHERE id = NEW.productos_id;

    IF (SELECT lote FROM productos WHERE id = NEW.productos_id) < 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Stock insuficiente en el producto base.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER actualizar_lote_edicion
AFTER INSERT ON ediciones_productos
FOR EACH ROW
BEGIN
    -- Recalcular la suma total de cantidades relacionadas con la edici├│n
    UPDATE edicion
    SET lote = (
        SELECT COALESCE(SUM(cantidad), 0)
        FROM ediciones_productos
        WHERE edicion_id = NEW.edicion_id
    )
    WHERE id = NEW.edicion_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER calcular_precio_rebajado_update
BEFORE UPDATE ON ediciones_productos
FOR EACH ROW
BEGIN
    -- Si la rebaja est├í activa y hay un porcentaje v├ílido
    IF NEW.rebaja = 1 AND NEW.porcentaje_rebaja > 0 THEN
        SET NEW.precio_rebajado = NEW.costo_precio_venta - (NEW.costo_precio_venta * NEW.porcentaje_rebaja / 100);
    ELSE
        -- Si no hay rebaja, aseguramos que precio_rebajado sea NULL
        SET NEW.precio_rebajado = 0.00;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_envios_insert
AFTER INSERT ON envios
FOR EACH ROW
BEGIN
    INSERT INTO historial_envios (envios_id,estado_envio,fecha)
    VALUES (
        NEW.id, NEW.estado_envio,NOW());
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER descontar_cantidad_al_insertar_orden_pagada
AFTER INSERT ON ordenes
FOR EACH ROW
BEGIN
    -- Verificar si el estado de la orden es "Pagada"
    IF NEW.estado = 'Pagada' THEN
        -- Descontar la cantidad disponible en cada producto asociado a la orden
        UPDATE ediciones_productos 
        INNER JOIN detalle_ordenes 
        ON ediciones_productos.id = detalle_ordenes.ediciones_productos_id
        SET ediciones_productos.cantidad = ediciones_productos.cantidad - detalle_ordenes.cantidad
        WHERE detalle_ordenes.ordenes_id = NEW.id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_ordenes_insert
AFTER INSERT ON ordenes
FOR EACH ROW
BEGIN
    DECLARE fecha_envio DATE;
    DECLARE fecha_entrega DATE;

    SET fecha_envio = DATE_ADD(NEW.created_at, INTERVAL 1 DAY);
    SET fecha_entrega = DATE_ADD(fecha_envio, INTERVAL 2 DAY);

    INSERT INTO envios (ordenes_id, costo_envio, estado_envio, fecha_envio,fecha_entrega, created_at, updated_at
    )
    VALUES (NEW.id, 50.00, 'pendiente', fecha_envio, fecha_entrega, NOW(), NOW()                      
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER descontar_cantidad_al_entregar
AFTER UPDATE ON ordenes  
FOR EACH ROW
BEGIN
	-- Verificar si el estado cambi├│ a "Pagada"
    IF NEW.estado = 'Pagada' THEN
        -- Descontar la cantidad disponible en cada producto asociado a la orden
        UPDATE ediciones_productos 
        INNER JOIN detalle_ordenes ON ediciones_productos.id = detalle_ordenes.ediciones_productos_id
        SET ediciones_productos.cantidad = ediciones_productos.cantidad - detalle_ordenes.cantidad
        WHERE detalle_ordenes.ordenes_id = NEW.id;
         -- Actualizar existencias en la tabla edicion
        UPDATE edicion
        INNER JOIN ediciones_productos ON edicion.id = ediciones_productos.edicion_id
        INNER JOIN detalle_ordenes ON ediciones_productos.id = detalle_ordenes.ediciones_productos_id
        SET edicion.existencias = edicion.existencias - detalle_ordenes.cantidad
        WHERE detalle_ordenes.ordenes_id = NEW.id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER restaurar_cantidad_al_cancelar
AFTER UPDATE ON ordenes
FOR EACH ROW
BEGIN
    -- Verificar si el estado cambi├│ de "Pagada" a "Cancelada"
    IF OLD.estado = 'Pagada' AND NEW.estado = 'Cancelada' THEN
        -- Restaurar la cantidad en cada producto asociado a la orden
        UPDATE ediciones_productos 
        INNER JOIN detalle_ordenes  ON ediciones_productos.id = detalle_ordenes.ediciones_productos_id
        SET ediciones_productos.cantidad = ediciones_productos.cantidad + detalle_ordenes.cantidad
        WHERE detalle_ordenes.ordenes_id = OLD.id;
            -- Actualizar existencias en la tabla edicion
        UPDATE edicion
        INNER JOIN ediciones_productos ON edicion.id = ediciones_productos.edicion_id
        INNER JOIN detalle_ordenes ON ediciones_productos.id = detalle_ordenes.ediciones_productos_id
        SET edicion.existencias = edicion.existencias + detalle_ordenes.cantidad
        WHERE detalle_ordenes.ordenes_id = OLD.id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping routines for database 'ozezbd'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-28  0:22:50
